<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="d-flex flex-column moqui-navbar">
        <div class="container d-flex flex-row main-navbar">
            <router-link class="navbar-brand" :to="'/'" tag="a">
                <img height="60px" class="moqui-logo moqui-logo1" src="./assets/moqui-logo.svg" alt="">
                <span class="font-italic navbar-title">POP Shop</span>
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div  id="nav_collapse" class="navbar-collapse collapse">
                <search-input placeholder="Search..." />
                <!-- Right aligned nav items -->
                <ul class="navbar-nav ml-auto">
                    <div class="text-secondary">
                        <span class="navbar-pop-title">Official POP Merchandise</span>
                        <span class="text-center navbar-pop-subtitle">Quality 100% Guaranted</span>
                    </div>
                </ul>
            </div>
        </div>
        <div v-if="subBar" class="container d-flex flex-row">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shop
                    </a>
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <router-link class="dropdown-item" :to="'/deals/'+category.productCategoryId" tag="a" v-for="category in categories" :key="category.productCategoryId">
                            {{category.categoryName}}
                        </router-link>
                    </div>
                </li>

                <router-link :to="'/deals/PopcAllProducts'" tag="a" class="nav-link">
                    Deals 
                </router-link>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Customer Service
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <router-link :to="'/help'" tag="a" class="dropdown-item">
                            Help Center 
                        </router-link>
                        <router-link :to="'/help'" tag="a" class="dropdown-item">
                            Delivery Rates 
                        </router-link>
                        <router-link :to="'/help'" tag="a" class="dropdown-item">
                            Delivery Times  
                        </router-link>
                        <router-link :to="'/help'" tag="a" class="dropdown-item">
                            Customer Pick Up 
                        </router-link>
                        <router-link :to="'/help'" tag="a" class="dropdown-item">
                            How to pay 
                        </router-link>
                        <router-link :to="'/about'" tag="a" class="dropdown-item">
                            About POP Shop 
                        </router-link>
                        <router-link :to="'/contact'" tag="a" class="dropdown-item">
                            Contact Us 
                        </router-link>
                    </div>
                </li>
            </ul>


            <!-- Right aligned nav items -->
            <ul class="navbar-nav ml-auto">
                <template v-if="customerInfo.firstName != null">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{customerInfo.firstName}} Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <router-link :to="'/account'" tag="a" class="dropdown-item">
                                Account Settings 
                            </router-link>
                            <router-link :to="'/orders'" tag="a" class="dropdown-item">
                                My Orders
                            </router-link>
                            <a class="dropdown-item" href="#" @click="logout()">Signout</a>
                        </div>
                    </li>
                </template>
                <template v-else>
                    <li class="nav-item">
                        <router-link :to="'/account/create'" tag="a" class="nav-link">  
                            Join Now
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="'/login'" tag="a" class="nav-link">
                            <i class="fas fa-user"></i>  
                            Sign In
                        </router-link>
                    </li>
                </template>
                <li class="nav-item">
                    <router-link :to="'/checkout'" tag="a" class="nav-link">
                        <i class="fa fa-shopping-cart"></i>  
                        Cart
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</nav>
