<div>
    <navbar sub-bar="true"/>
    <div class="container-fluid features">
        <div class="d-flex justify-content-around container">
            <div class="feature ">
                <div class="feature-icon">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                </div>
                <div class="feature-info">
                    <div class="title text-left">FAST SHIPPING</div>
                    <div class="subtitle">Nationwide delivery whitin 3 days</div>
                </div>
            </div>
            <div class="feature ">
                <div class="feature-icon">
                    <i class="fa fa-fire" aria-hidden="true"></i>
                </div>
                <div class="feature-info">
                    <div class="title text-left">HOT DEALS</div>
                    <div class="subtitle">New deals every week</div>
                </div>
            </div>
            <div class="feature ">
                <div class="feature-icon">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <div class="feature-info">
                    <div class="title text-left">FAST SHIPPING</div>
                    <div class="subtitle">Nationwide delivery whitin 3 days</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-left">
            This Week's deals
        </div>
        <carousel :per-page="4" :navigationEnabled="true">
            <slide v-for="product in products" :key="product.productId">
                <router-link :to="'product/' + product.productId">
                    <landing-product :product="product" />
                </router-link>
            </slide>
        </carousel>
    </div>
</div>