<div class="landing-product">
    <figure class="figure">
        <img width="100px" height="150px" 
            class="figure-img img-fluid"
            v-if="product.smallImageList.length" 
            v-for="smallImageInfo in product.smallImageList" 
            :src="getProductImageSrc(smallImageInfo)"
            :alt="smallImageInfo.description ? smallImageInfo.description : 'Small Image'"
        >
        <figcaption class="text-primary text-left figure-caption">{{product.productName}}</figcaption>
        <figcaption class="text-primary text-left figure-caption">
            <star-rating :rating="product.rating" />
            <span class="text-dark">{{product.numberOfRatings}}</span>
        </figcaption>
        <figcaption class="text-primary text-left figure-caption">
            <span class="text-danger">${{product.price}}</span>
            <span class="text-dark">
                <del v-if="product.listPrice">${{product.listPrice}}</del>
            </span>
        </figcaption>
    </figure>
</div>