<div class="landing-product">
    <figure class="figure">
        <img width="90%" 
            class="figure-img img-fluid"
            v-if="product.smallImageList.length" 
            :src="getProductSingleImg(product.smallImageList)"
        >
        <figcaption class="text-left title-product-text figure-caption">{{product.productName}}</figcaption>
        <figcaption class="text-left figure-caption">
            <star-rating :rating="product.rating" />
            <span class="text-dark">{{product.numberOfRatings}}</span>
        </figcaption>
        <figcaption class="text-primary text-left figure-caption">
            <span class="product-price-text">${{product.price}}</span>
            <span class="product-last-price">
                <del v-if="product.listPrice">${{product.listPrice}}</del>
            </span>
        </figcaption>
    </figure>
</div>