<div>
    <navbar sub-bar="true"/>
    <div class="container">
        <router-link class="customer-link" :to="'/'" tag="span">
            Home <i class="fas fa-angle-right"></i>
        </router-link>
        <span class="modal-text">My Orders</span>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col col-lg-2 col-12">
                <div class="customer-menu">
                    <router-link class="customer-link" :to="'/account'" tag="span">
                        Account Settings 
                    </router-link>
                    <ul class="customer-orders-ul">
                        <router-link  :to="'/account'" tag="li">
                            Profile 
                        </router-link>
                        <router-link  :to="'/account'" tag="li">
                            Delivery Address 
                        </router-link>
                        <router-link  :to="'/account'" tag="li">
                            Payment Method 
                        </router-link>
                    </ul>
                    <span class="color-tab">My Orders</span>
                    <ul class="customer-orders-ul">
                        <li @click="scrollTo('current')">Current Orders</li>
                        <li @click="scrollTo('order')">Order History</li>
                    </ul>
                </div>
            </div>
            <div class="col col-lg-9 offset-lg-1 col-12">
                <span class="customer-orders-title">My Orders</span>
                <br>
                <span class="customer-orders-subtitle" ref="current">Current Orders</span>
                <hr class="customer-roders-hr">
                <div class="row">
                    <template v-for="(item,index) in ordersList">
                        <div class="col col-lg-3 col-12 order-list mb-4" >
                            <div class="customer-orders-id">
                                <router-link class="customer-orders-text" :to="'/orders/'+item.orderId" tag="span">
                                    Order #{{item.orderId}}
                                </router-link>
                                <span class="customer-text-date">
                                    {{formatDate(item.placedDate ? item.placedDate : item.entryDate)}}
                                </span>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-12">
                            <template v-for="(productList, index) in listProduct">
                                <template v-if="productList.orderId == item.orderId && product.itemTypeEnumId=='ItemProduct'"
                                    v-for="product in productList.listProduct">
                                    <span class="order-product-description">{{product.itemDescription}}</span>
                                    <br>
                                </template>
                            </template>
                            <p class="order-product-status">{{item.partStatusId}}</p>
                        </div>
                        <div class="col col-lg-2 offset-lg-3 col-12">
                            <span class="order-product-total">${{item.grandTotal.toFixed(2)}}</span>
                        </div>
                    </template>
                </div>
                <br>
                <span class="customer-orders-subtitle" ref="order">Order History</span>
                <span class="orders-back-text" @click="scrollTo()">Back to Top</span>
                <hr class="customer-roders-hr">
                <div class="row">
                    <template v-for="(item,index) in ordersList">
                        <div class="col col-lg-3 col-12 order-list mb-4" >
                            <div class="customer-orders-id">
                                <span class="customer-orders-text">Order #{{item.orderId}}</span>
                                <span class="customer-text-date">{{formatDate(item.placedDate ? item.placedDate : item.entryDate)}}</span>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-12">
                            <template v-for="(productList, index) in listProduct">
                                <template v-if="productList.orderId == item.orderId && product.itemTypeEnumId=='ItemProduct'" v-for="product in productList.listProduct">
                                    <span class="order-product-description">{{product.itemDescription}}</span>
                                    <br>
                                </template>
                            </template>
                            <p class="order-product-status">{{item.partStatusId}}</p>
                        </div>
                        <div class="col col-lg-2 offset-lg-3 col-12">
                            <span class="order-product-total">${{item.grandTotal.toFixed(2)}}</span>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <footer-page :infoLink="true" class="navbar-fixed-bottom"/>
</div>
