<div>
  <navbar sub-bar="true"/>
  <div class="container">
  	<div class="row">
  	  <div class="col col-lg-2">
  	   <div class="customer-menu">
  	   	<span>Account Settings</span>
  	   	<ul class="customer-orders-ul">
  	   	  <li>Profile</li>
  	   	  <li>Delivery Address</li>
  	   	  <li>Payment Method</li>
  	   	</ul>
  	   	<span style="color: #797979;">My Orders</span>
  	   	<ul class="customer-orders-ul">
  	   	  <li>Current Orders</li>
  	   	  <li>Order History</li>
  	   	</ul>
  	   </div>
  	  </div>
  	  <div class="col col-lg-9 offset-lg-1">
  	    <span class="customer-orders-tittle">My Orders</span>
  	    <br>
  	    <span class="customer-orders-subtitle">Current Orders</span>
  	    <hr class="customer-roders-hr">
  	    <div class="row">
  	      <template v-for="(item,index) in ordersList">
  	      	<div class="col col-lg-3">
  	      	  <div class="customer-orders-id">
  	      	  	<span class="customer-orders-text">Order #{{item.orderId}}</span>
  	      	    <span class="customer-text-date">{{formatDate(item.placedDate)}}</span>
  	      	  </div>
  	      	</div>
  	      	<div class="col col-lg-4">
  	      	  <template v-for="(product, index) in getCustomerOrderById(item.orderId)">
  	      	    <span v-if="product.itemTypeEnumId != 'ItemProduct'" class="order-product-description">{{product.itemDescription}}</span>
  	      	  </template>
  	      	  <span>{{item.partStatusId}}</span>
  	      	</div>
  	      	<div class="col col-lg-2 offset-lg-3">
  	      	  <span>${{item.grandTotal}}</span>
  	      	</div>
  	      </template>
  	    </div>
  	  </div>
  	</div>
  </div>
  <footer-page :infoLink="true" class="mt-5 navbar-fixed-bottom"/>
</div>