/* $theme-colors: ( 
    "primary": #05c3d5,
    "danger": #de6232,
    "dark": #333333
); */


#app {
    font-family: "Aveni", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 166px;
}

.moqui-navbar {
    width: 100%;
    background: #333333;
    text-align: center !important;
}

.bg-dark {
    background: #333333 !important;
}

.moqui-navbar .moqui-logo {
    width: 101px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-title {
    margin-top: 10px;
    display: inline-block;
    font-size: 2em;
    color: #fff;
    margin-left: -25px;
    font-weight: bold;
}

.search-input {
    width: 80%;
    margin-left: 45px;
    position: relative;
}

.search-input input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    text-indent: 10px;
}

.search-input input::placeholder{
    color:#8c8c8c;
}

.search-input .search-button {
    background: #05c3d5;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    padding: 3px 15px;
    margin-left: -4px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    line-height: 0;
}

.features {
    margin-top: -30px;
    background: #05c3d5;
    color: #fff;
    padding-top: 10px;
}

.features .feature {
    display: flex;
}

.features .feature .feature-icon {
    font-size: 2.5em;
    margin-top: -5px;
}

.features .feature .feature-info {
    padding: 5px;
}

.features .feature .feature-info .subtitle {
    margin-top: -5px;
    font-size: 0.7em;
}

.landing-product {
    color: #05c3d5
}

.star-rating {
    color: #ffed00;
}

.container-text {
    text-align: left;
}

.product-title {
    color: #666666;
    font-size: 2em;
}

.product-star {
    margin-top: -30px;
}

.product-img {
    cursor: pointer;
    margin-bottom: 15px !important;
}

.product-img:hover {
    border: 1px solid #b2b2b2;
    padding: 5px;
}

.product-img-select {
    width: 100%;
    height: 100%;
}

.cart-div {
    background-color: #e7e7e7;
    border: none;
}

.cart-form-price {
    text-align: left;
    margin-top: 15px;
    overflow: hidden;
    color: #686868;
}

.price-text {
    color: #de7045;
    font-size: 1.6em;
}

.cart-form-btn {
    background-color: var(--orange);
    color: #fff;
    margin-top: 10px;
}

.title-product-text {
    color:#10c6d7;
}

.title-check-text {
    cursor: pointer;
    margin-top: 15px;
}

.title-cart-item {
    color: #666666 !important;
    margin-top: 15px;
    font-size: 1.2em;
}

.state .circle {
    color: #fff;
    background-color: #dd6231;
    width: 25px;
    height: 25px; 
    position: absolute;
    text-align: center;
    border-radius: 50%;
    border: none;
}

.state .text-address {
    margin-left: 30px;
    color: #dd6231;
    font-size: 1.2em;
}

.state1 .circle {
    color: #fff;
    background-color: #04c3d5;
    width: 25px;
    height: 25px; 
    position: absolute;
    text-align: center;
    border-radius: 50%;
    border: none;
}

.state1 .text-address {
    margin-left: 30px;
    color: #04c3d5;
    font-size: 1.2em;
}

.circle {
    color: #666666;
    width: 25px;
    height: 25px; 
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #666666;
}

.text-address {
    margin-left: 30px;
    color: #666666;
    font-size: 1.2em;
}

.item-text-desc {
    color: #04c3d5;
}

.hr {
    background-color: #666666;
    height: 1px;
    margin-top: -10px;
}

.hr1 {
    background-color: #dd6231;
    height: 1px;
    margin-top: -10px;
}

.hr2 {
    background-color: #04c3d5;
    height: 1px;
    margin-top: -10px;
}

.div-add {
    float: right;
}

.text-add {
    color: #3ad0de !important;
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 10px;
    margin-right: 17px;
}

.btn-continue {
    background-color: #04c3d5;
    color: #fff;
    height: 45px;
    width: 150px;
}

.btn-place-order {
    background-color: #dd6231;
    color: #fff;
}

.div-place-order {
    color: #666666 !important;
    margin-top: 50px;
}

.place-order-total {
    color: #dd6231 !important;
}

.place-order-text {
    margin-top: -15px;
}

.modal-title {
    color: #666666;
    font-size: 2em;
}

.modal-text {
    color: #666666;
}

.modal-text-required {
    color: #e4845e;
}

.div-checkmark {
    background-color: #e7e7e7;
    border-radius: 5px;
}

.container-input {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 2px;
    color: #666666;
    cursor: pointer;
    font-size: 1em;
    user-select: none;
}

.container-input input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 10px;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #666666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-input:hover input ~ .checkmark {
    background-color: #ccc;
}

.container-input input:checked ~ .checkmark {
    background-color: #e7e7e7;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-input input:checked ~ .checkmark:after {
    display: block;
}

.container-input .checkmark:after {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #666666;
}


.input-quantity {
    text-align:center;
}

.div-total {
    color: #666666;
}

.span-description {
    display: block;
    margin-top: -5px;
}

.change-info {
    font-size: 0.9em !important;
    margin-top: 7px;
}

.order-title {
    font-size: 1.6em;
    color: #666666;
}

.order-link-text {
    color: #04c3d5;
    cursor: pointer;
}

.order-text-color {
    color: #666666;
}

.order-status {
    color: #dd6231;
}

.item-title-text {
    font-size: 0.8em;
}

.order-hr {
    margin-top: -1px;
}

.order-address {
    margin-top: -5px !important;
}

.order-billing-address {
    margin-top: 30px;
}

.order-navbar {
    height: 85px;
}

.order-navbar-title {
    margin-top: 20px;
    display: inline-block;
    font-size: 2.3em;
    color: #fff;
    margin-left: -25px;
    font-weight: bold;
}

.order-navbar-circle {
    width: 40px;
    height: 40px;
    color: #999999;
    border: 1px solid #999999;
    border-radius: 50%;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.order-navbar-circle-red {
    color: #fff;
    background-color: #dd6231;
    border: none;
}

.order-navbar-circle-blue {
    color: #fff;
    background-color: #04c3d5;
    border: none;
}

.order-navbar-hr {
    background-color: #666666;
    height: 1px;
    margin-top: 1.2rem;
}

.order-navbar-text {
    position: absolute;
    margin-top: 30px;
    font-size: 0.6em;
}

.order-navbar-text-red {
    color: #dd6231;
}

.order-navbar-text-blue {
    color: #04c3d5;
}


.checkout-container {
    margin-top: -70px;
}

.footer {
    background-color: #666666;
    color: #fff;
    font-weight: lighter;
    padding: 30px;
}

.footer p {
    font-size: 0.8em;
    color: #04c3d5;
}

.footer-ul {
    list-style-type: none;
    font-size: 0.8em;
}

.footer-ul li {
    margin-top: 10px;
    cursor: pointer;
}

.footer-follow-text {
    color: #8d8d8d;
}

.footer-icons {
    font-size: 1.9em;
    margin-right: 10px;
}

.link-text {
    font-size: 0.9em;
    color: #666666;
}

.product-price-text {
    color: #dd6231;
    font-size: 1.2em;
}

.product-last-price {
    color:#666666;
    font-size: 1.2em;
}

.save-circle {
    background-color: #ffed00;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    position: absolute;
    margin-left:70%;
    margin-top: -10px;
}

.save-circle-text {
    font-size: 0.9em;
    display: inline-block;
    position: absolute;
    margin-top: 8px;
}

.save-circle-title {
    font-size: 0.9em;
    display: inline-block;
    position: absolute;
    margin-top: -8px;
}

.product-description {
    color:#666666 !important;
    font-size: 0.9em;
}

.product-listprice-text {
    font-size: 0.7em;
}

.product-hr {
    height: 1px;
    background-color: #d3d3d3;
}

.product-cate-text {
    color: #1ec9d9;
}

.review {
    margin-top: 30px;
}

.review-text-size {
    font-size: 0.9em;
}

.review-date {
    color: #999999;
}

.review-text {
    margin-top: 5px;
    display: inline-block;
    color: #666666;
}

.review-btn {
    margin-top: 30px;
    width: 180px;
}