/* $theme-colors: ( 
    "primary": #05c3d5,
    "danger": #de6232,
    "dark": #333333
); */


#app {
    font-family: "Aveni", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 166px;
}

.moqui-navbar {
    width: 100%;
    background: #333333;
    text-align: center;
}

.bg-dark {
    background: #333333 !important;
}

.moqui-navbar .moqui-logo {
    width: 101px;
}

.search-input {
    width: 100%;
    position: relative;
}

.search-input input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.search-input .search-button {
    background: #05c3d5;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    padding: 3px 15px;
    margin-left: -4px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    line-height: 0;
}

.features {
    background: #05c3d5;
    color: #fff;
    padding-top: 10px;
}

.features .feature {
    display: flex;
}

.features .feature .feature-icon {
    font-size: 3em;
}

.features .feature .feature-info {
    padding: 5px;
}

.features .feature .feature-info .subtitle {
    font-size: 0.8em;
}

.landing-product {
    color: #05c3d5
}

.star-rating {
    color: #ffed00;
}

.container-text {
    text-align: left;
}

.product-tittle {
    color: #666666;
    font-size: 2em;
}

.product-star {
    margin-top: -30px;
}

.product-img {
    cursor: pointer;
    margin-bottom: 15px !important;
}

.product-img:hover {
    border: 1px solid #b2b2b2;
    padding: 5px;
}

.product-img-select {
    width: 100%;
    height: 100%;
}

.cart-div {
    background-color: #e7e7e7;
    border: none;
}

.cart-form-price {
    text-align: left;
    margin-top: 15px;
    overflow: hidden;
    color: #686868;
}

.price-text {
    color: #de7045;
    font-size: 1.6em;
}

.cart-form-btn {
    background-color: var(--orange);
    color: #fff;
    margin-top: 10px;
}

.tittle-product-text {
    color:#10c6d7;
}

.tittle-check-text {
    cursor: pointer;
    margin-top: 15px;
}

.method .circle {
    color: #fff;
    background-color: #dd6231;
    width: 25px;
    height: 25px; 
    position: absolute;
    text-align: center;
    border-radius: 50%;
    border: none;
}

.method .text-address {
    margin-left: 30px;
    color: #dd6231;
    font-size: 1.2em;
}

.circle {
    color: #666666;
    width: 25px;
    height: 25px; 
    position: absolute;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #666666;
}

.text-address {
    margin-left: 30px;
    color: #666666;
    font-size: 1.2em;
}

.hr {
    background-color: #666666;
    height: 1px;
    margin-top: -10px;
}

.hr2 {
    background-color: #dd6231;
    height: 1px;
    margin-top: -10px;
}

.div-add {
    float: right;
}

.text-add {
    color: #3ad0de !important;
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 10px;
}

.btn-continue {
    background-color: #04c3d5;
    color: #fff;
    height: 45px;
    width: 150px;
}

.btn-place-order {
    background-color: #dd6231;
    color: #fff;
}