<div>
    <navbar sub-bar="true"/>
    <div class="container-fluid px-lg-6 px-4 py-4 body-padding">
        <div class="row no-gutters align-left">
            <div class="col">
                <a class="customer-link" href="/rcsite">Home </a><i class="fas fa-angle-right mx-2 fa-line-height"></i>
                Account
            </div>
        </div>
        <div class="row mb-8">
            <div class="d-none d-lg-block col-lg-3">
                <menu-left type="true"/>
            </div>
            <div class="col-lg-9 col-12">
                <div class="row">
                    <div class="col">
                        <h1 class="page-heading text-uppercase"><span class="text-green">ACCOUNT </span>SETTINGS</h1>
                    </div>
                </div>
                <div v-if="message.state != '' " :class="{ 'alert-primary': message.state == 1, 'alert-danger': message.state == 2}" class="alert" role="alert">
                    {{message.message}}
                </div>

                <!-- profile section -->
                <router-link :to="'/account#profile'" tag="div" id="profile" class="lead">PROFILE</router-link>
                <div class="breakline no-gutters mb-3"></div>
                <div class="form-group row">
                    <label for="username" class="col-sm-3 col-form-label modal-text left-menu-heading">Username</label>
                    <div class="col-12 col-sm-6 mt-2 pl-4">
                        <label id="username">{{customerInfo.username}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="firstname" class="col-sm-3 col-form-label modal-text left-menu-heading">First Name</label>
                    <div class="col-12 col-sm-6">
                        <input class="form-control" id="firstname" type="text" v-model="customerInfo.firstName" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastName" class="col-sm-3 col-form-label modal-text left-menu-heading">Last Name</label>
                    <div class="col-12 col-sm-6">
                        <input class="form-control" id="lastName" type="text" v-model="customerInfo.lastName" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="emailAddress" class="col-sm-3 col-form-label modal-text left-menu-heading">Email</label>
                    <div class="col-12 col-sm-6">
                        <input class="form-control" id="emailAddress" type="email" v-model="customerInfo.emailAddress" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-sm-3 col-form-label modal-text left-menu-heading">Phone</label>
                    <div class="col-12 col-sm-6">
                        <input class="form-control" id="contactNumber" type="text" v-model="customerInfo.contactNumber" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-6 offset-sm-3">
                        <button data-toggle="modal" data-target="#changePasswordModal" class="btn btn-info account-btn mr-2">Change Password</button>
                        <button @click="updateCustomerInfo" class="btn btn-info account-btn">Save</button>
                    </div>
                </div>

                <!-- shipping addresses -->
                <div class="d-flex justify-content-between mt-5">
                    <router-link :to="'/account#shipping'" tag="span" id="shipping" class="lead">
                    SHIPPING ADDRESSES</router-link>
                    <span class="pointer text-cyan" @click="scrollTo()">Back to Top</span>
                </div>
                <div class="breakline no-gutters mb-3"></div>
                <div class="row">
                    <template v-for="(address, index) in shippingAddressList">
                        <div :class="{ 'div-checkmark': addressOption == address.postalContactMechId + ':' +
                            address.telecomContactMechId }" class="col-12 col-sm-6">
                            <div class="row mx-auto mt-3">
                                <div class="col-2">
                                    <input :id="index + 'r1'" type="radio" :value="address.postalContactMechId + ':' +
                                    address.telecomContactMechId" v-model="addressOption" class=""/>
                                </div>
                                <div class="col d-flex flex-column">
                                    <div class="row">
                                        {{address.postalAddress.address1}} {{address.postalAddress.address2}}<br>
                                        {{address.postalAddress.city}}, {{address.postalAddressStateGeo.geoCodeAlpha2}} 
                                        {{address.postalAddress.postalCode}}
                                    </div>
                                    <div class="row mt-2 text-cyan">
                                        <span data-toggle="modal" data-target="#addressModal" 
                                            @click="selectAddress(address),isUpdate = true" class="pointer">
                                            Update &nbsp;
                                        </span>
                                        <span>| &nbsp;</span>
                                        <span data-toggle="modal" data-target="#deleteAddressModal" @click="selectAddress(address)" 
                                            class="pointer">
                                            Delete
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <br>
                <div>
                    <button data-toggle="modal" data-target="#addressModal" 
                        class="btn btn-info col col-lg-6 account-btn" @click="resetData()">
                        Add an Address
                    </button>
                </div>

                <!-- payment methods -->
                <div class="d-flex justify-content-between mt-5">
                    <router-link :to="'/account#payment'" tag="span" id="payment" class="lead">
                    PAYMENT METHODS</router-link>
                    <span class="text-cyan pointer" @click="scrollTo()">Back to Top</span>
                </div>
                <div class="breakline no-gutters mb-3"></div>
                <div class="row">
                    <template v-for="(item, index) in customerPaymentMethods">
                        <div :class="{ 'div-checkmark': paymentOption == item.paymentMethodId }" class="col-12 col-sm-6">
                            <div class="row mx-auto mt-3">
                                <div class="col-2">
                                    <input :id="index + 'r3'"  type="radio" :value="item.paymentMethodId" v-model="paymentOption"/>
                                </div> 
                                <div class="col d-flex flex-column">
                                    <div class="row">
                                        {{item.paymentMethod.titleOnAccount}}
                                        <br>
                                        {{item.paymentMethod.description}}
                                        <br>
                                        Expires on {{item.creditCard.expireDate}}
                                    </div>
                                    <div class="row mt-2 text-cyan">
                                        <span @click="selectPaymentMethod(item),isUpdate = true" 
                                            data-toggle="modal" data-target="#creditCardModal" class="pointer">
                                            Update &nbsp;
                                        </span>
                                        <span>| &nbsp;</span>
                                        <span @click="selectPaymentMethod(item)" data-toggle="modal" 
                                            data-target="#deletePaymentMethodModal" class="pointer">
                                            Delete
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <br>
                <div>
                    <button @click="resetData()" data-toggle="modal" data-target="#creditCardModal" 
                        class="btn btn-info col col-lg-6 account-btn">
                        Add a Credit Card
                    </button>
                </div>
                <!-- <div class="breakline no-gutters my-3"></div> -->
            </div> 
        </div>
    </div>
    <footer-page class="footer-relative" :infoLink="false" />

        <div class="modal fade" id="changePasswordModal"> <!-- Change Password Modal -->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="title" id="exampleModalLongTitle">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="modal-body" @submit.prevent="updateCustomerPassword" method="post">
                        <div v-if="responseMessage != null && responseMessage != ''" class="alert alert-primary" role="alert">
                            {{responseMessage}}
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label modal-text">Old Password *</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="password" v-model="passwordInfo.oldPassword" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label modal-text">New Password *</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="password" v-model="passwordInfo.newPassword" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label modal-text">Confirm New Password *</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="password" v-model="passwordInfo.newPasswordVerify" 
                                    required/>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <!-- <div class="col-sm-7 offset-sm-4"> -->
                                <button type="submit" class="btn btn-info col-sm-6">Change Password</button>
                                <br>
                                <a data-dismiss="modal" class="btn btn-link text-add col-sm-6">Cancel</a>
                            <!-- </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addressModal"> <!-- Address Modal -->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Recipient Field -->
                        <div class="form-group">
                            <label for="name" class="form-heading form-text-align">To</label>
                            <input class="input-text input-border form-control" id="name"
                                    type="text"
                                    v-model="shippingAddress.toName"
                                    @focus="resetToNameErrorMessage(shippingAddress.toName)"
                                    required/>
                            <div v-if="toNameErrorMessage != null && toNameErrorMessage != ''">
                                <small class="input-text form-text text-danger">{{toNameErrorMessage}}</small>
                            </div>
                        </div>
                        <!-- Attention Field-->
                        <div class="form-group">
                            <label class="form-heading form-text-align">Attention of
                                <small class="text-muted">(optional)</small>
                            </label>
                                <input class="input-text input-border form-control"  
                                        type="text" 
                                        v-model="shippingAddress.attnName"/>
                        </div>
                        <!-- Country Field-->
                        <div class="form-group">
                            <label for="country" class="form-heading form-text-align">Country</label>
                                <select v-model="shippingAddress.countryGeoId" class="input-text input-border form-control"
                                    @change="getRegions(shippingAddress.countryGeoId)" @focus="resetCountryErrorMessage(shippingAddress.countryGeoId)">
                                    <option value="USA" selected>United States</option>
                                </select>
                                <div v-if="countryErrorMessage != null && countryErrorMessage != ''">
                                    <small class="input-text form-text text-danger">{{countryErrorMessage}}</small>
                                </div>
                        </div>
                        <!-- Address -->
                        <div class="form-group">
                            <label for="adress1" class="form-heading form-text-align">Address</label>
                            <input class="input-text input-border form-control" input-border id="adress1"
                                    type="text"
                                    placeholder="Line 1"
                                    v-model="shippingAddress.address1"
                                    @focus="resetAddressErrorMessage(shippingAddress.address1)"
                                    required/>
                            <div v-if="addressErrorMessage != null && addressErrorMessage != ''">
                                <small class="input-text form-text text-danger">{{addressErrorMessage}}</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="input-text input-border form-control" id="adress2"
                                type="text"
                                placeholder="Line 2 (optional)"
                                v-model="shippingAddress.address2"/>
                        </div>
                        <!-- City -->
                        <div class="form-group">
                            <label for="city" class="form-heading form-text-align">City</label>
                            <input class="input-text input-border form-control" id="city"
                                    type="text"
                                    v-model="shippingAddress.city"
                                    @focus="resetCityErrorMessage(shippingAddress.city)"
                                    required/>
                            <div v-if="cityErrorMessage != null && cityErrorMessage != ''">
                                <small class="input-text form-text text-danger">{{cityErrorMessage}}</small>
                            </div>
                        </div>
                        <!-- State -->
                        <div class="form-group">
                            <label for="state" class="form-heading form-text-align">State</label>
                            <select v-model="shippingAddress.stateProvinceGeoId" class="input-text input-border form-control"
                                    @focus="resetStateErrorMessage(shippingAddress.stateProvinceGeoId)">
                                    <option v-for="region in regionsList" :value="region.geoId">{{region.geoName}}</option>
                            </select>
                            <div v-if="stateErrorMessage != null && stateErrorMessage != ''">
                                <small class="input-text form-text text-danger">{{stateErrorMessage}}</small>
                            </div>
                        </div>
                        <!-- Postal code -->
                        <div class="form-group">
                            <label for="postalcode" class="form-heading form-text-align">Postcode</label>
                            <input class="input-text input-border form-control" id="postalcode"
                                type="text"
                                v-model="shippingAddress.postalCode"
                                @focus="resetPostalCodeErrorMessage(shippingAddress.postalCode)"
                                required/>
                            <div v-if="postalCodeErrorMessage != null && postalCodeErrorMessage != ''">
                                <small class="input-text form-text text-danger">{{postalCodeErrorMessage}}</small>
                            </div>
                        </div>
                        <!-- Phone number -->
                        <div class="form-group">
                            <label for="contactnumber" class="form-heading form-text-align">Phone Number</label>
                            <input class="input-text input-border form-control" id="contactnumber"
                                type="text"
                                v-model="shippingAddress.contactNumber"
                                @focus="resetContactNumberErrorMessage(shippingAddress.contactNumber)"
                                required/>
                            <div v-if="contactNumberErrorMessage != null && contactNumberErrorMessage != ''">
                                <small class="input-text form-text text-danger">{{contactNumberErrorMessage}}</small>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <button @click="addCustomerShippingAddress" class="btn btn-info flex-fill col col-sm-6">
                                <span v-if="isUpdate">Update Address</span>
                                <span v-else>Add Address</span>
                            </button>
                            <a @click="hideModal('addressModal')" class="btn btn-link text-add col col-sm-9">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="creditCardModal"><!-- Credit Card Modal -->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header"><!-- Title -->
                        <h5 class="modal-title text-gdark" id="exampleModalLongTitle">
                            <span v-if="isUpdate"><span class="text-glight">UPDATE</span> CREDIT CARD</span>
                            <span v-else><span class="text-glight">ADD</span> A CREDIT CARD</span>
                        </h5>
                        <button type="button" class="close text-cyan" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="modal-body" @submit.prevent="addCustomerPaymentMethod" method="post">
                            <div v-if="responseMessage != null && responseMessage != ''" 
                                class="alert alert-primary" role="alert">
                                {{responseMessage}}
                            </div>
                            <div class="form-group row justify-content-between">
                                <label for="nameCard" class="col-form-label modal-text ml-3">Name on Card</label>
                                <div class="col-sm-8 col-xs-12">
                                    <input class="form-control" id="nameCard"
                                        type="text" required
                                        v-model="paymentMethod.titleOnAccount"/>
                                </div>
                            </div>
                            <div class="form-group row justify-content-between">
                                <label for="card" class="col-form-label modal-text ml-3">
                                    Card Number 
                                    <span class="text-required">*</span>
                                </label>
                                <div class="col-sm-8 col-xs-12">
                                    <input class="form-control" id="card"
                                        type="text"
                                        v-model="paymentMethod.cardNumber"
                                        placeholder="13 to 16 digits Spaces are optional" required :disabled="isUpdate"/>
                                </div>
                            </div>
                            <div class="form-group row justify-content-between">
                                <label class="col-form-label ml-3">Expiry Date</label>
                                <div class="col-sm-8 col-xs-12 d-inline-flex">
                                    <select v-model="paymentMethod.expireMonth" class="form-control"
                                        required>
                                        <option value="" disabled selected>Month</option>
                                        <option v-for="n in 12" :value="(n < 10) ? '0'+n : ''+n">
                                            {{(n < 10) ? '0'+n : n}}</option>
                                    </select>
                                    <select v-model="paymentMethod.expireYear" class="form-control ml-3"
                                        required>
                                        <option value="" disabled selected>Year</option>
                                        <option v-for="n in 10" :value="(2017 + n)">{{2017 + n}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row justify-content-between">
                                <label for="security" class="col-form-label ml-3">Security Code</label>
                                <div class="col-sm-8 col-xs-12">
                                    <input class="form-control" id="security"
                                        type="text"
                                        v-model="paymentMethod.cardSecurityCode"
                                        placeholder="3 or 4 Digits" required/>
                                </div>
                            </div>
                            <div class="form-group row justify-content-between" v-if="!isUpdate">
                                <label class="col-form-label ml-3">Select an Address*</label>
                                <div class="col-sm-8 col-xs-12">
                                    <select v-model="paymentAddressOption" class="form-control" 
                                        @change="selectBillingAddress(paymentAddressOption)">
                                        <option value="0" >New Address</option>
                                        <option v-for="item in shippingAddressList" 
                                            :value="item">
                                            {{item.postalAddress.toName}}, {{item.postalAddress.address1}}, 
                                            {{item.postalAddress.city}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <template v-if="isUpdate || paymentAddressOption == 0">
                                <div class="form-group row justify-content-between">
                                    <label for="name" class="col-form-label modal-text ml-3">To <span class="text-required">*</span></label>
                                    <div class="col-sm-8 col-xs-12">
                                        <input class="form-control" id="name"
                                            type="text"
                                            v-model="paymentMethod.toName"
                                            required/>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-between">
                                    <label class="col-form-label modal-text ml-3">Attention
                                        <span class="text-cyan">(Optional)</span>
                                    </label>
                                    <div class="col-sm-8 col-xs-12">
                                        <input class="form-control" type="text" v-model="paymentMethod.attnName"/>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-between">
                                    <label class="col-form-label modal-text ml-3">
                                        Country
                                    </label>
                                    <div class="col-sm-8 col-xs-12">
                                        <label class="form-control">
                                            United States
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-between">
                                    <label for="adress1" class="col-form-label modal-text ml-3">
                                        Address 
                                        <span class="text-required">*</span>
                                    </label>
                                    <div class="col-sm-8 col-xs-12">
                                        <input class="form-control" id="adress1"
                                            type="text"
                                            v-model="paymentMethod.address1"
                                            required/>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-between">
                                    <label for="adress2" class="col-form-label"></label>
                                    <div class="col-sm-8 col-xs-12">
                                        <input class="form-control" id="adress2"
                                            type="text"
                                            v-model="paymentMethod.address2"/>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-between">
                                    <label for="city" class="col-form-label modal-text ml-3">
                                        City / Town 
                                        <span class="text-required">*</span>
                                    </label>
                                    <div class="col-sm-8 col-xs-12">
                                        <input class="form-control" id="city"
                                            type="text"
                                            v-model="paymentMethod.city"
                                            required/>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-between">
                                    <label for="state" class="col-form-label modal-text ml-3">
                                        State
                                        <span class="text-required">*</span>
                                    </label>
                                    <div class="col-sm-8 col-xs-12">
                                        <select v-model="paymentMethod.stateProvinceGeoId" class="form-control">
                                            <option v-for="region in regionsList" :value="region.geoId">{{region.geoName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-between">
                                    <label for="postalcode" class="col-form-label modal-text ml-3">Zip Code</label>
                                    <div class="col-sm-8 col-xs-12">
                                        <input class="form-control" id="postalcode"
                                            type="text"
                                            v-model="paymentMethod.postalCode"
                                            required/>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-between">
                                    <label for="contactnumber" class="col-form-label modal-text ml-3">
                                        Phone Number 
                                        <span class="text-required">*</span>
                                    </label>
                                    <div class="col-sm-8 col-xs-12">
                                        <input class="form-control" id="contactnumber"
                                            type="text"
                                            v-model="paymentMethod.contactNumber"
                                            required/>
                                    </div>
                                </div>
                            </template>
                            <div class="row justify-content-center button-spacing">
                                <button type="submit" class="btn btn-info col-sm-6">
                                    <span v-if="isUpdate">Update Card</span>
                                    <span v-else>Add Card</span>
                                </button>
                                <a data-dismiss="modal" class="btn btn-link text-add col-sm-6">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteAddressModal"><!-- Confirm Delete -->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="title" id="exampleModalLabel">CONFIRM</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <p class="col-12 text-center">Are you sure to delete this record?</p>
                            <div class="d-flex mt-4">
                                <a data-dismiss="modal" class="btn btn-outline-info btn-lg flex-fill mr-3">Cancel</a>
                                <button class="btn btn-info col col-sm-6 col-lg-6 col-12 offset-sm-1 
                                offset-lg-1 offset-md-1" @click="deleteShippingAddress(shippingAddress.postalContactMechId,shippingAddress.postalContactMechPurposeId)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deletePaymentMethodModal"><!-- Confirm Delete -->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="title" id="exampleModalLabel">CONFIRM</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <p class="col-12 text-center">Are you sure to delete this record?</p>
                            <div class="d-flex mt-4">
                                <a data-dismiss="modal" class="btn btn-outline-info btn-lg flex-fill mr-3">Cancel</a>
                                <button class="btn btn-info col col-sm-6 col-lg-6 col-12 offset-sm-1 
                                offset-lg-1 offset-md-1" @click="deletePaymentMethod(paymentMethod.paymentMethodId)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>
