<div>
    <checkout-navbar :option="optionNavbar"/>
    <div class="container">
        <div class="loader" v-if="isSpinner"></div>
        <div class="row">
            <!-- Panel item list-->
            <div class="col col-lg-6 col-sm-12 col-12">
                <p class="row title-cart-item">
                    <span class="col col-6 col-sm-2">Item</span>
                    <span class="col d-none d-sm-block col-sm-5"></span>
                    <span class="col col-3 col-sm-2">Quantity</span>
                    <span class="col col-3 col-sm-3 text-center">Price</span>
                </p>
                <hr class="hr">
                <div class="row" v-for="item in productsInCart.orderItemList" :key="item.itemTypeEnumId + '' + item.productId" v-if="item.itemTypeEnumId != 'ItemShipping'">
                    <div class="col col-sm-2 d-none d-sm-block">
                        <product-image :productId="item.productId" v-if="item.itemTypeEnumId=='ItemProduct'"
                           class="mb-1"/>
                    </div>
                    <div class="col col-6 col-sm-5">
                        <p class="item-text-desc">
                            <a class="item-text-desc" :href="'product/' + item.productId">{{item.itemDescription}}</a>
                        </p>
                        <p v-if="item.unitListPrice && ((item.unitListPrice - item.unitAmount) != 0)" class="last-price">
                            <del>${{item.unitListPrice}}</del>
                            <span class="place-order-total"> Save ${{(item.unitListPrice - item.unitAmount).toFixed(2)}}</span>
                        </p>
                    </div>
                    <div class="col col-3 col-sm-2">
                        <input class="input-quantity form-control" id="quantity" @change="updateProductQuantity(item)" 
                            type="text" v-model="item.quantity" :disabled="item.itemTypeEnumId != 'ItemProduct'" />
                    </div>
                    <div class="col col-3 col-sm-3 text-right">
                        <div class="place-order-total pr-4">${{item.unitAmount.toFixed(2)}}</div>
                        <div class="item-actions pr-4" @click="deleteOrderProduct(item)" v-if="item.itemTypeEnumId=='ItemProduct'">
                            <span>Delete</span>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="row div-total">
                    <span class="col col-9 col-lg-9">Subtotal</span>
                    <span class="col col-3 col-lg-3 text-right" v-if="productsInCart.orderPart">
                        <span class="pr-4">${{productsInCart.orderPart.partTotal.toFixed(2)}}</span>
                    </span>
                </div>
                <hr>

                <div class="row div-total">
                    <span class="col col-9 col-lg-9 mt-4">Shipping</span>
                    <span class="col col-3 col-lg-3 mt-4 text-right place-order-total">
                        <span v-if="shippingMethod.shippingTotal != undefined" class="pr-4">
                            ${{shippingMethod.shippingTotal.toFixed(2)}}
                        </span>
                        <span v-else class="pr-4">
                            ${{shippingItemPrice.toFixed(2)}}
                        </span>
                    </span>
                    <hr style="width: 96%;">
                    <span class="col col-9 col-lg-9 mt-3 mb-5">Total</span>
                    <span class="col col-3 col-lg-3 mt-3 text-right place-order-total" v-if="productsInCart.orderHeader">
                        <span class="pr-4">${{productsInCart.orderHeader.grandTotal.toFixed(2)}}</span>
                    </span>
                </div>
                
                <!-- Optional Prop 65 Warning -->
                <div v-if="showProp65 == 'true' && shippingAddressSelect.stateProvinceGeoId == 'USA_CA'" class="alert alert-warning" role="alert">
                    <prop65-warning/>
                </div>

                <div class="row">
                    <p class="col">Do you have a Promotion Code?</p>
                </div>
                <div class="row">
                    <div class="input-group col">
                        <input type="text" class="col-lg-9 form-control" placeholder="Enter it here..." aria-label="Input group promotion" aria-describedby="btnGroupAddon" name="promoCode" id="promoCode" v-model="promoCode">
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" @click="applyPromotionCode">Apply</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <span v-if="promoError" class="col text-danger">{{promoError}}</span>
                    <span v-else class="col text-green">{{promoSuccess}}</span>
                </div>
                <div class="row mt-5">
                    <contact-info/>
                </div>
            </div>

            <!-- The whole checkout stage column -->
            <div class="col col-lg-5 offset-lg-1 col-sm-12 col-12">
                <!-- Shipping Address section title and change button -->
                <p class="title-check-text" :class="{ 'step-active': selectShippingAddressStatus == 'active', 'step-complete': selectShippingAddressStatus == 'complete'}">                
                    <span v-if="selectShippingAddressStatus == 'active'" class="circle">1</span>
                    <span v-if="selectShippingAddressStatus == 'complete'" class="circle"><i class="fa fa-check"></i></span>
                    <span class="text-address">SHIPPING ADDRESS</span>
                    <span data-toggle="collapse" data-target="#shippingAddressCollapse" v-if="selectShippingAddressStatus == 'complete'" 
                        class="text-address change-info float-right" @click="setOptionNavbar(1)">
                        Change
                    </span>
                </p>
                <!-- Horizontal dividing line -->
                <hr class="hr" :class="{ 'hr-active': selectShippingAddressStatus == 'active', 'hr-complete':selectShippingAddressStatus == 'complete' }"> 
                <!-- The selected shipping address -->
                <div v-if="selectShippingAddressStatus == 'complete'" class="div-total">
                    <span class="span-description">{{shippingAddressSelect.toName}}</span>
                    <span class="span-description">
                        {{shippingAddressSelect.address1}} {{shippingAddressSelect.address2}}
                    </span>
                    <span class="span-description">{{shippingAddressSelect.city}}</span>
                    <span v-if="postalAddressStateGeoSelected" class="span-description">{{postalAddressStateGeoSelected.geoName}}</span>
                    <span class="span-description">
                        <i class="fa fa-phone phone-icon"></i>
                        {{shippingAddressSelect.contactNumber}}
                    </span>
                </div>
                <!-- The address collapses -->
                <div id="shippingAddressCollapse" class="collapse show">
                    <div v-for="(option, index) in listShippingAddress">
                        <div :class="{ 'div-checkmark': addressOption == option.postalContactMechId + ':' +
                            option.telecomContactMechId }">
                            <label :for="index + 'r1'" class="container-input">
                                <input :id="index + 'r1'" type="radio" :value="option.postalContactMechId + ':' +
                                    option.telecomContactMechId" v-model="addressOption" 
                                    @click="changeShippingAddress(option)"/>
                                <span class="checkmark"></span>
                                <span class="span-description">{{option.postalAddress.toName}}</span>
                                <span class="span-description">
                                    {{option.postalAddress.address1}} {{option.postalAddress.address2}}
                                </span>
                                <span class="span-description">{{option.postalAddress.city}}</span>
                                <span v-if="option.postalAddressStateGeo" class="span-description">{{option.postalAddressStateGeo.geoName}}</span>
                                <span class="span-description">
                                    <i class="fa fa-phone phone-icon"></i>
                                    {{option.telecomNumber.contactNumber}}
                                </span>
                            </label>
                            <!-- Update and delete address icons -->
                            <span data-toggle="modal" data-target="#addressFormModal" 
                                @click="selectAddress(option),isUpdate = true" class="edit-icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span @click="deleteShippingAddress(option.postalContactMechId,option.postalContactMechPurposeId)"
                                class="delete-icon">  
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </div>
                    </div>
                    <br>
                    <!-- Buttons    -->
                    <button data-toggle="collapse" data-target="#shippingAddressCollapse" 
                        @click="addCartBillingShipping(), setCheckoutStepActive('selectShippingMethod'), setCheckoutStepComplete('selectShippingAddress'), setOptionNavbar(2)" class="btn btn-continue float-right" 
                        :disabled="addressOption == null || addressOption == '' 
                        || listShippingAddress == null || listShippingAddress.length == 0 ">
                        Continue
                    </button>
                    <a data-toggle="modal" data-target="#addressFormModal" class="text-add" @click="resetData()">
                        Add a New Address
                    </a>
                </div>
                <br>
                
                <!-- Shipping method section title-->
                <p class="title-check-text"  :class="{ 'step-active': selectShippingMethodStatus == 'active', 'step-complete': selectShippingMethodStatus == 'complete' }">
                    <span v-if="selectShippingMethodStatus != 'complete'" class="circle">2</span>
                    <span v-if="selectShippingMethodStatus == 'complete'" class="circle"> <i class="fa fa-check"></i></span>
                    <span class="text-address">SHIPPING METHOD</span>
                    <span data-toggle="collapse" data-target="#shippingMethodCollapse" v-if="selectShippingMethodStatus == 'complete'" 
                        class="text-address change-info float-right">Change</span>
                </p>
                <!-- The selected shipping method -->
                <hr class="hr" :class="{ 'hr-active': selectShippingMethodStatus == 'active', 'hr-complete':selectShippingMethodStatus == 'complete' }">
                <div v-if="selectShippingMethodStatus == 'complete'" class="div-total">
                    <span class="span-description">
                    {{shippingMethod.shipmentMethodDescription}}
                    <span class="float-right" v-if="shippingMethod.shippingTotal">${{shippingMethod.shippingTotal.toFixed(2)}}</span>
                    </span>    
                </div>

                <!-- Shipping method collapses -->
                <div id="shippingMethodCollapse" class="collapse">
                    <div v-for="(option, index) in listShippingOptions">
                        <div :class="{ 'div-checkmark': shippingOption == option.carrierPartyId + ':' + option.shipmentMethodEnumId }">
                            <label :for="index + 'r2'" class="container-input">
                            <input :id="index + 'r2'" type="radio" :value="option.carrierPartyId + ':' + option.shipmentMethodEnumId" v-model="shippingOption" @click="shippingMethod = option" />
                            <span class="checkmark"></span>
                            {{option.carrierPartyId == '_NA_' ? '' : (option.carrierName + ' - ')}}
                            {{option.shipmentMethodDescription}}
                            <span class="float-right">${{option.shippingTotal}}</span>
                            </label>
                        </div>
                    </div>
                    <br>
                    <button data-toggle="collapse" data-target="#shippingMethodCollapse"  
                        @click="addCartBillingShipping(), setCheckoutStepActive('selectPaymentMethod'), setCheckoutStepComplete('selectShippingMethod'), setOptionNavbar(3)" class="btn btn-continue float-right" 
                        :disabled="shippingOption == null || shippingOption == '' || 
                        listShippingOptions == null || listShippingOptions.length == 0">
                        Continue
                    </button>
                </div>
                <br>

                <!-- Payment method section -->
                <p class="title-check-text" :class="{ 'step-active': selectPaymentMethodStatus == 'active', 'step-complete': selectPaymentMethodStatus == 'complete' }">
                    <span v-if="selectPaymentMethodStatus != 'complete'" class="circle">3</span>
                    <span v-if="selectPaymentMethodStatus == 'complete'" class="circle"><i class="fa fa-check"></i></span>
                    <span class="text-address">PAYMENT METHODS</span>
                    <span data-toggle="collapse" data-target="#paymentMethodCollapse" v-if="selectPaymentMethodStatus == 'complete'" class="text-address change-info float-right">Change</span>
                </p>
                <hr class="hr" :class="{ 'hr-active': selectPaymentMethodStatus == 'active', 'hr-complete':selectPaymentMethodStatus == 'complete' }">
                <div v-if="selectPaymentMethodStatus == 'complete'" class="div-total">
                    <span class="span-description">{{paymentMethod.description}}</span>
                    <span class="span-description">{{paymentMethod.titleOnAccount}}</span>
                    <span class="span-description">{{paymentMethod.expireMonth}}/{{paymentMethod.expireYear}}</span>
                    <br>
                    <template v-if="isSameAddress == 'complete' && selectPaymentMethodStatus == 'complete'">
                        <span>Billing address:</span> 
                        <br>
                        <span class="span-description">{{paymentMethod.toName}}</span>
                        <span class="span-description">{{paymentMethod.address1}} {{paymentMethod.address2}}</span>
                        <span class="span-description">{{paymentMethod.city}}</span>
                        <span class="span-description"><i class="fa fa-phone phone-icon"></i>{{paymentMethod.contactNumber}}</span>
                    </template>
                </div>
                <div id="paymentMethodCollapse" class="collapse">
                    <div v-for="(item,index) in listPaymentMethods">
                        <div :class="{ 'div-checkmark': paymentOption == item.paymentMethodId }">
                            <label  :for="index + 'r3'" class="container-input">
                                <input :id="index + 'r3'"  type="radio" :value="item.paymentMethodId" v-model="paymentOption"
                                    @click="selectPaymentMethod(item)"/>
                                <span class="checkmark"></span>
                                <span class="span-description">{{item.paymentMethod.description}}</span>
                                <span class="span-description">{{item.paymentMethod.titleOnAccount}}</span>
                                <span class="span-description">Expires on {{item.creditCard.expireDate}}</span>
                            </label>
                            <span @click="deletePaymentMethod(item.paymentMethodId)"
                                class="delete-icon">  
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </div>
                    </div>
                    <br>
                    <a data-toggle="modal" data-target="#creditCardModal" class="text-add" @click="resetData()">
                        Add a Credit Card
                    </a>
                    <button data-toggle="collapse" 
                        data-target="#paymentMethodCollapse"  class="btn btn-continue float-right" 
                        @click="addCartBillingShipping(), setCheckoutStepActive('placeOrder'), setCheckoutStepComplete('selectPaymentMethod'),setOptionNavbar(4)" 
                        :disabled="paymentOption == null || paymentOption == '' || listPaymentMethods == null ||
                        listPaymentMethods.length == 0">
                        Continue
                    </button>
                </div>
                <br>
                <p class="title-check-text" :class="{ 'step-active': placeOrderStatus == 'active', 'step-complete': placeOrderStatus == 'complete' }">
                    <span v-if="placeOrderStatus != 'complete'" class="circle">4</span>
                    <span v-if="placeOrderStatus == 'complete'" class="circle"><i class="fa fa-check"></i></span>
                    <span class="text-address">COMPLETE PURCHASE</span>
                </p>
                <hr class="hr" :class="{ 'hr-active': placeOrderStatus == 'active', 'hr-complete': placeOrderStatus == 'complete' }">
                <div id="placeOrderCollapse" class="collapse">
                    <div class="div-place-order">
                        <p class="text-center">YOUR TOTAL IS: 
                            <span class="place-order-total" v-if="productsInCart.orderHeader">
                                ${{productsInCart.orderHeader.grandTotal.toFixed(2)}}
                            </span>
                        </p>
                        <p class="text-center place-order-text">Place order below to complete your purchase</p>
                    </div>
                    <button class="btn btn-place-order col col-lg-12" @click="placeCartOrder(), setCheckoutStepComplete('placeOrder'), setOptionNavbar(5)">Place Order</button>
                </div>
                <div class="text-center">
                    <a href="/rc/category/RchAllProducts?pageSize=100" class="btn text-add">Keep Shopping</a>
                </div>
            </div>
        </div>
        <div>            
            <div class="modal fade" id="modal-error">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">An error occurred</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">{{responseMessage}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addressFormModal">
                <div class="modal-dialog" role="document">
                    <modal-address :shippingAddress="shippingAddress" :isUpdate="isUpdate" :cancelCallback="onAddressCancel" :completeCallback="onAddressUpserted" />
                 </div>
            </div>

            <div class="modal fade" id="creditCardModal"><!-- Credit Card Modal -->
                <div class="modal-dialog" role="document">
                    <modal-credit-card :paymentMethod="paymentMethod" :isUpdate="isUpdate" :addressList="listShippingAddress" :cancelCallback="onCreditCardCancel" :completeCallback="onCreditCardSet" />
                </div>
            </div>
        </div>
    </div>
    <footer-page :infoLink="false" />
</div>