<div>
    <navbar sub-bar="true"/>
    <div class="container">
        <br>
        <div class="row">
            <form class="login-form col-sm-12 col-lg-6 offset-lg-1" v-if="nextStep == 0" 
                @submit.prevent="resetPassword" method="post">
                <h1 class="text-left">Forgot Your Password?</h1>
                <p>Please enter your email and we'll send you a link to create a new password.</p>
                <div v-if="responseMessage != null && responseMessage != ''" class="alert alert-primary" role="alert">
                    {{responseMessage}}
                </div>
                <div class="form-group row ">
                    <label for="" class="col-form-label col-sm-2 col-lg-2 text-left">
                        Email *
                    </label>
                    <div class="col-sm-8 col-lg-8">
                        <input v-model="data.username" type="email" class="form-control">
                    </div>
                </div>
                <button class="btn btn-login offset-sm-2 btn-block col-sm-8 col-lg-8" type="submit">
                    Create a New Password
                </button>
            </form>
            <div class="login-form col-sm-12 col-lg-6 offset-lg-1" v-if="nextStep == 1">
                <h1 class="text-left">Check Your Email</h1>
                <p>We've send an email to {{data.username}} with instructions on how to create a new password.</p>
                <p class="next-step" @click="nextStep = '2'">Click here to go to the next step.</p>
            </div>
            <form class="login-form col-sm-12 col-lg-6 offset-lg-1" v-if="nextStep == 2"
                @submit.prevent="changePassword" method="post">
                <h1 class="text-left">Create a New Password</h1>
                <p>Enter your new password for {{data.username}} </p>
                <div v-if="responseMessage != null && responseMessage != ''" class="alert alert-primary" role="alert">
                    {{responseMessage}}
                </div>
                <div class="form-group row">
                    <label for="username" class=" col-form-label col-lg-4 col-sm-12 text-left">
                        Email
                    </label>
                    <div class="col-lg-8 col-sm-12">
                        <input id="username" v-model="data.username" type="text" class="form-control" required disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="oldPassword" class=" col-form-label col-lg-4 col-sm-12 text-left">
                        Current Password *
                    </label>
                    <div class="col-lg-8 col-sm-12">
                        <input id="oldPassword" v-model="passwordInfo.oldPassword" type="password" class="form-control" 
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPassword" class=" col-form-label col-lg-4 col-sm-12 text-left">
                        New Password *
                    </label>
                    <div class="col-lg-8 col-sm-12">
                        <input id="newPassword" v-model="passwordInfo.newPassword" type="password" class="form-control"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPasswordV" class=" col-form-label col-lg-4 col-sm-12 text-left">
                        New Password Verify*
                    </label>
                    <div class="col-lg-8 col-sm-12">
                        <input id="newPasswordV" v-model="passwordInfo.newPasswordVerify" type="password" 
                            class="form-control" required>
                    </div>
                </div>
                <button class="btn btn-login offset-lg-4 btn-block col-sm-12 col-lg-8" type="submit">
                    Change Password and Sign In
                </button>
            </form>
            <div class="col-lg-1 offset-lg-1 d-none d-lg-block d-xl-block">
                <div class="split-reset mx-auto"></div>
            </div>
            <div class="col-lg-3 mt-4 d-none d-lg-block d-xl-block">
                <p class="reset-text">
                    Or go back and                
                    <router-link :to="'/login'" tag="a" class="reset-link">  
                        sign in.
                    </router-link>
                    <br>
                    <span v-if="nextStep == 2">without changing password.</span>
                </p>
            </div>
        </div>
    </div>
    <footer-page style="margin-top: 350px;" :infoLink="false" />
</div>
