<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Store</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous"/>
    <!-- only if needed beyond glyphicons: <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

    <!-- if select2 is used:
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet" type="text/css">
    -->

    <link rel="stylesheet" href="/store/resource/store.css"/>

    <script>
        // default store configuration, settings may be reset by script returned by /content/settings.js (transition that calls StoreServices.get#StoreInfo)
        var storeConfig = {
            // base path for the router, by default the app page should load from '/store'
            basePath: "/store/",
            // REST API base location, default on the same server
            // if the Moqui server is running on a different server use something like "https://api.domain.com/rest/"
            restApiLocation: "/rest/",
            // Content base location for server administered content, points to the content.xml screen
            // this may be a path on the same server or for production preferably a full URL that goes through a caching proxy like CloudFlare
            contentLocation: "/content/",
            contentAttachmentLocation: "/content/attachment/",
            productImageLocation: "/content/productImage/",
            // browse page/etc template locations (may be path or full URL)
            template_client_home: "/store/template/HomeTemplate.html",
            template_client_search: "/store/template/SearchTemplate.html",
            template_client_category: "/store/template/CategoryTemplate.html",
            template_client_categoryProduct: "/store/template/CategoryProductTemplate.html",
            template_client_product: "/store/template/ProductTemplate.html",
            // buy page/etc template locations (may be path or full URL)
            template_client_login: "/store/template/LoginTemplate.html",
            template_client_account: "/store/template/ProfileTemplate.html",
            template_client_orderHistory: "/store/template/OrderHistoryTemplate.html",
            template_client_orderDetail: "/store/template/OrderDetailTemplate.html",
            cartTemplate: "/store/template/CartTemplate.html"
        };
    </script>
</head>
<body>
    <!-- root element of the main Vue component, everything under this is a Vue template -->
    <div id="store-app">
        <!-- TODO: common header -->

        <div class="container-fluid">
            <!-- use v-html instead of mustache {{}} syntax so doesn't show on initial page load; something to consider for everything here -->
            <h1 v-html="storeConfig.storeName"></h1>

            <p v-if="customerInfo">Welcome {{customerInfo.firstName}} {{customerInfo.lastName}} ({{customerInfo.emailAddress}})</p>
            <button v-if="apiKey && apiKey.length" @click.prevent="logoutUser()" class="btn btn-danger">Logout</button>

            <div>
                <router-link to="/">Home</router-link>
                <router-link to="/profile">Profile</router-link>
                <router-link to="/foo">Foo (invalid)</router-link>
                
                <router-link v-if="storeInfo.categoryByType.PsctHomePage" :to="{ name: 'category', params: { productCategoryId: storeInfo.categoryByType.PsctHomePage.productCategoryId }}" v-html="storeInfo.categoryByType.PsctHomePage.categoryName"></router-link>
                <router-link v-if="storeInfo.categoryByType.PsctBrowseRoot" :to="{ name: 'category', params: { productCategoryId: storeInfo.categoryByType.PsctBrowseRoot.productCategoryId }}" v-html="storeInfo.categoryByType.PsctBrowseRoot.categoryName"></router-link>
                <router-link v-if="storeInfo.categoryByType.PsctViewAllow" :to="{ name: 'category', params: { productCategoryId: storeInfo.categoryByType.PsctViewAllow.productCategoryId }}" v-html="storeInfo.categoryByType.PsctViewAllow.categoryName"></router-link>
            </div>

            <div class="card">
                <div class="card-body">
                    <router-view></router-view>
                </div>
            </div>

            <div>
                <router-link to="/content/about_alias">About Us</router-link>
                <router-link to="/content/contact">Contact Us</router-link>
            </div>
        </div>

        <!-- TODO: common footer -->
    </div>

    <!-- JavaScript Libraries -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>

    <!-- Vue JS, see: https://vuejs.org/v2/guide/ -->
    <!-- NOTE: change to vue.min.js for production, using vue.js for now while in initial development -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js" integrity="sha256-1Q2q5hg2YXp9fYlM++sIEXOcUb8BRSDUsQ1zXvLBqmA=" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js" integrity="sha256-pU9euBaEcVl8Gtg+FRYCtin2vKLN8sx5/4npZDmY2VA=" crossorigin="anonymous"></script>
    <!-- Vue Router, see: https://router.vuejs.org/en/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.min.js" integrity="sha256-yEB9jUlD51i5kxJZlzgzfR6XmVKI76Nl1WRA1aqIilU=" crossorigin="anonymous"></script>

    <!-- Growl style notify -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js" integrity="sha256-LlN0a0J3hMkDLO1mhcMwy+GIMbIRV7kvKHx4oCxNoxI=" crossorigin="anonymous"></script>

    <!-- handy widgets used elsewhere in Moqui, need to test each for compatibility with latest jquery, bootstrap, etc:
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.js"></script>
    -->

    <!-- Configuration settings built dynamically but fetched by script element so in place before store component loads and renders -->
    <script src="/content/config.js"></script>
    <!-- Utilities -->
    <script src="/store/resource/utilities.js"></script>
    <!-- Page/Route Components -->
    <script src="/store/resource/PageComponents.js"></script>
    <!-- Main Store App Init -->
    <script src="/store/resource/store.js"></script>
</body>
