<div>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item"><a class="nav-link" :class="{active:(activeTab === 'login')}" @click.prevent="setTab('login')">Login</a></li>
                <li class="nav-item"><a class="nav-link" :class="{active:(activeTab === 'reset')}" @click.prevent="setTab('reset')">Reset Password</a></li>
                <li class="nav-item"><a class="nav-link" :class="{active:(activeTab === 'change')}" @click.prevent="setTab('change')">Change Password</a></li>
                <li class="nav-item"><a class="nav-link" :class="{active:(activeTab === 'register')}" @click.prevent="setTab('register')">Register</a></li>
            </ul>
        </div>
        <div class="card-body">
            <div v-if="activeTab === 'reset'">
                <form @submit.prevent="submitReset">
                    <p class="text-muted text-center">Enter your username to reset and email your password</p>
                    <input v-model="username" name="username" type="text" placeholder="Username" required="required" class="form-control">
                    <button class="btn btn-lg btn-danger btn-block" type="submit">Reset and Email Password</button>
                </form>
            </div>
            <div v-else-if="activeTab === 'change'">
                <form @submit.prevent="submitChange">
                    <p class="text-muted text-center">Enter details to change your password</p>
                    <input v-model="username" name="username" type="text" placeholder="Username" required="required" class="form-control top">
                    <input v-model="password" name="password" type="password" placeholder="Current Password" required="required" class="form-control bottom">
                    <input v-model="newPassword" name="newPassword" type="password" placeholder="New Password" required="required" class="form-control middle">
                    <input v-model="newPasswordVerify" name="newPasswordVerify" type="password" placeholder="New Password Verify" required="required" class="form-control bottom">
                    <button class="btn btn-lg btn-danger btn-block" type="submit">Change Password</button>
                </form>
            </div>
            <div v-else-if="activeTab === 'register'">
                <form @submit.prevent="submitRegister">
                    <p class="text-muted text-center">Enter details to create a new account</p>
                    <input v-model="firstName" name="firstName" type="text" placeholder="First Name" class="form-control top required" required="required">
                    <input v-model="lastName" name="lastName" type="text" placeholder="Last Name" class="form-control middle required" required="required">
                    <input v-model="emailAddress" name="emailAddress" type="email" placeholder="Email" class="form-control middle email required" required="required">
                    <input v-model="newPassword" name="newPassword" type="password" placeholder="Password" required="required" class="form-control middle">
                    <input v-model="newPasswordVerify" name="newPasswordVerify" type="password" placeholder="Password Verify" required="required" class="form-control bottom">
                    <button class="btn btn-lg btn-success btn-block" type="submit">Create Account</button>
                </form>
            </div>
            <div v-else>
                <form @submit.prevent="submitLogin">
                    <p class="text-muted text-center">Enter your username and password to sign in</p>
                    <input v-model="username" name="username" type="text" placeholder="Username" required="required" class="form-control top">
                    <input v-model="password" name="password" type="password" placeholder="Password" required="required" class="form-control bottom">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
