<div>
  <navbar sub-bar="true"/>
  <div class="container" v-if="orderList.orderPart">
    <div class="container" style="margin-top: -15px;">
      <span class="product-cate-text">Home <i class="fas fa-angle-right"></i></span>
      <span class="product-cate-text">My Orders <i class="fas fa-angle-right"></i></span>
      <span class="order-text-color">#{{orderList.orderHeader.orderId}}</span>
    </div>
    <div class="row mt-4">
      <div class="col col-lg-2 col-12">
        <div class="customer-menu">
          <span>Account Settings</span>
          <ul class="customer-orders-ul">
            <li>Profile</li>
            <li>Delivery Address</li>
            <li>Payment Method</li>
          </ul>
          <span style="color: #797979;">My Orders</span>
          <ul class="customer-orders-ul">
            <li>Current Orders</li>
            <li>Order History</li>
          </ul>
        </div>
      </div>
      <div class="col col-lg-9 offset-lg-1 col-12">
        <span class="customer-orders-tittle">Order #{{orderList.orderHeader.orderId}}</span>
        <br>
        <div class="mt-4">
          <span class="order-text-color mr-5">Order Status: <span class="order-status">{{orderList.orderHeader.statusId}}</span></span>
          <span class="order-text-color mr-5">Order Date: {{formatDate(orderList.orderHeader.placedDate)}}</span>
          <span class="order-text-color mr-5">Expected Arrival: 7 April, 2018</span>
        </div>
        <div class="row mt-5">
          <div class="col col-lg-12">
            <div class="row item-title-text">
              <span class="col col-lg-8 order-link-text">Item</span>  
              <span class="col col-lg-2 order-text-color text-center">Quantity</span>
              <span class="col col-lg-2 order-text-color text-center">Price</span>
            </div>
            <hr class="order-hr">
            <div class="row">
              <template v-for="(item, index) in orderList.orderItemList">
                <template v-if="item.itemTypeEnumId == 'ItemProduct'">
                  <router-link class="col col-lg-8 order-link-text" :to="'/product/'+item.productId" tag="span">
                    {{item.itemDescription}}
                  </router-link>
                  <span class="col col-lg-2 order-text-color text-center">{{item.quantity}}</span>
                  <span class="col col-lg-2 order-text-color text-center">${{item.unitAmount}}</span> 
                </template>
              </template>
            </div>
            <hr>
            <div class="row order-text-color">
              <span class="col col-lg-3 offset-lg-6 ">SubTotal</span>
              <span class="col col-lg-2 offset-lg-1 text-center">${{orderList.orderPart.partTotal}}</span>
              <span class="col col-lg-3 offset-lg-6 mt-4">Delivery</span>
              <span class="col col-lg-2 offset-lg-1 mt-4 text-center">$0.00</span>
              <span class="col col-lg-3 offset-lg-6 mt-4">TOTAL</span>
              <span class="col col-lg-2 offset-lg-1 mt-4 text-center">${{orderList.orderHeader.grandTotal}}</span>
              <span class="col col-lg-6 offset-lg-6"><hr></span>
            </div>
          </div>
          <div class="col col-lg-6 order-text-color mt-5">
            <span class="col col-lg-6">Delivery Address</span>
            <hr class="order-hr">
            <ul class="ul-custumer-order">
              <li>{{orderList.postalAddress.toName}}</li>
              <li>{{orderList.postalAddress.address1}}</li>
              <li>{{orderList.postalAddress.city}} {{orderList.postalAddress.address2}}</li>
              <li><i class="fa fa-phone phone-icon"></i> {{orderList.telecomNumber.contactNumber}}</li>
            </ul>
          </div>
          <div class="col col-lg-6 order-text-color mt-5">
            <span class="col col-lg-6">Billing Address</span>
            <hr class="order-hr">
            <ul class="ul-custumer-order">
              <li>{{orderList.postalAddress.toName}}</li>
              <li>{{orderList.postalAddress.address1}}</li>
              <li>{{orderList.postalAddress.city}} {{orderList.postalAddress.address2}}</li>
              <li><i class="fa fa-phone phone-icon"></i> {{orderList.telecomNumber.contactNumber}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer-page class="mt-5" :infoLink="true" />
</div>