<footer class="footer">
    <div class="container">
  	    <div class="row" v-if="infoLink">
  	        <ul class="col col-lg-3 footer-ul">
                <router-link :to="'/help'" tag="li">
                    Help Center 
                </router-link>
                <router-link :to="'/help'" tag="li">
                    Delivery Rates 
                </router-link>
                <router-link :to="'/help'" tag="li">
                    Delivery Times  
                </router-link>
  	        </ul>
  	        <ul class="col col-lg-3 footer-ul">
                <router-link :to="'/help'" tag="li">
                    Customer Pick Up 
                </router-link>
  	            <router-link :to="'/help'" tag="li">
                    How to pay 
                </router-link>
  	        </ul>
  	        <ul class="col col-lg-3 footer-ul">
                <router-link :to="'/about'" tag="li">
                    About POP Shop 
                </router-link>
                <router-link :to="'/contact'" tag="li">
                    Contact Us 
                </router-link>
  	        </ul>
  	        <ul class="col col-lg-3 footer-ul">
  	            <li class="footer-follow-text">Follow Us</li>
  	            <i class="fab fa-twitter footer-icons"></i>
  	            <i class="fab fa-facebook footer-icons"></i>
  	            <i class="fab fa-google-plus-g footer-icons"></i>
  	            <i class="fab fa-youtube footer-icons"></i>
  	        </ul>
  	    </div>
        <p class="text-center">Built on Moqui Framework</p>
    </div>	
</footer>
