<footer class="footer">
  <div class="container">
  	<div class="row" v-if="infoLink">
  	  <ul class="col col-lg-3 footer-ul">
  	    <li>Help Center</li>
  	    <li>Delivery Rates</li>
  	    <li>Delivery Times</li>
  	  </ul>
  	  <ul class="col col-lg-3 footer-ul">
  	    <li>Customer Pick Up</li>
  	    <li>How to Pay</li>
  	  </ul>
  	  <ul class="col col-lg-3 footer-ul">
  	    <li>About POP Shop</li>
  	    <li>Contact Us</li>
  	  </ul>
  	  <ul class="col col-lg-3 footer-ul">
  	    <li class="footer-follow-text">Follow Us</li>
  	    <i class="fab fa-twitter footer-icons"></i>
  	    <i class="fab fa-facebook footer-icons"></i>
  	    <i class="fab fa-google-plus-g footer-icons"></i>
  	    <i class="fab fa-youtube footer-icons"></i>
  	  </ul>
  	</div>
  	<p class="text-center">Build on Moqui Framework 2.1.1-rc1</p>
  </div>	
</footer>