<div>
  <navbar sub-bar="true"/>
  <div class="container">
  	<div class="container">
  	  <router-link class="customer-link" :to="'/'" tag="span">
        Home 
        <i class="fas fa-angle-right"></i>
      </router-link>
      <span class="modal-text">Contact Us</span>
    </div>
    <div class="row mt-4">
      <div class="customer-menu col col-lg-2 col-md-3 mb-5">
      	<router-link class="customer-link" :to="'/help'" tag="span">
      	  Help Center
      	</router-link>
        <ul class="customer-orders-ul">
          <li>Delivery Rates</li>
          <li>Delivery Times</li>
          <li>Customer Pick Up</li>
          <li>How to Pay</li>
        </ul>
        <router-link class="customer-link" :to="'/about'" tag="span">
      	  About POP Shop
      	</router-link>
        <p class="modal-text">Contact Us</p>
      </div>
      <div class="col col-lg-9 col-md-9 offset-lg-1 col-12">
        <span class="customer-orders-title help-title">Contact Us</span>
        <br>
        <p class="modal-text mt-4">
          What can we help you with?
        </p>
        <form>
          <div class="form-group row">
            <label class="col col-lg-4 col-sm-12 col-12 modal-text mt-2">Subject</label>
            <div class="col col-lg-6 col-sm-12 col-12">
          	  <select class="form-control">
                <option value="01">Help cancelling an order</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col col-lg-4 col-sm-12 col-12 modal-text mt-2">Title</label>
            <div class="col col-lg-6 col-sm-12 col-12">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col col-lg-4 col-sm-12 col-12 modal-text mt-2">Message *</label>
            <div class="col col-lg-6 col-sm-12 col-12">
              <textarea class="form-control contact-textarea" rows="9"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col col-lg-4 col-sm-12 col-12 modal-text mt-2">Link to Product</label>
            <div class="col col-lg-6 col-sm-12 col-12">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
          <div class="col col-lg-6 offset-lg-4 col-12 col-sm-12">
            <button class="btn btn-continue account-btn">Send Message</button>
          </div>
          </div>
        </form>
      </div>	
    </div>
  </div>
  <footer-page :infoLink="true" style="margin-top: 100px;" />
</div>
