<div class="container">
  <br>
  <div class="row">
    <div class="col col-lg-6">
      Item Quantity Price
      <hr>
      <b-row v-for="item in productsInCart.orderItemList" :key="item.productId" v-if="item.itemTypeEnumId=='ItemProduct'">
        <b-col>
          <p class="text-primary">{{item.itemDescription}}</p>
        </b-col>
        <b-col>
          <b-form-input id="quantity" type="text" v-model="item.quantity">
          </b-form-input>
        </b-col>
        <b-col>
          <p class="text-success">${{item.unitAmount}}</p>
        </b-col>
      </b-row>
      <hr>
      <div class="col col-lg-6">
        Subtotal ${{productsInCart.totalUnpaid}}
      </div>
    </div>
    <div class="col col-lg-6">
      <p v-b-toggle.collapse1 class="tittle-check-text">
        <span class="circle">1</span>
        <span class="text-address">Shipping Address</span>
      </p>
      <hr class="hr">
      <b-collapse visible id="collapse1">
        <div v-for="(option, index) in listShippingAddress">
          <b-card>
            <input :id="index + 'r1'" type="radio" class="radio-button" :value="option.postalContactMechId + ':' +
            option.telecomContactMechId" v-model="addressOption" />
            <label :for="index + 'r1'">
              {{option.postalAddress.toName}}
              {{option.postalAddress.address1}}
              {{option.postalAddress.address2}}
              {{option.postalAddress.city}}
              {{option.telecomNumber.contactNumber}}
            </label>
          </b-card>
        </div>
        <br>   
        <a v-b-modal.modal1 class="text-add col-4 offset-lg-5">Add a New Address</a>
        <button class="btn btn-continue">Continue</button>
      </b-collapse>
      <br>
      <p v-b-toggle.collapse2 class="tittle-check-text">
        <span class="circle">2</span>
        <span class="text-address">Shipping Method</span>
      </p>
      <hr class="hr">
      <b-collapse id="collapse2">
        <div v-for="(option, index) in listShippingOptions">
          <b-card>
            <input :id="index + 'r2'" type="radio" class="radio-button" :value="option.carrierPartyId + ':' + option.shipmentMethodEnumId" v-model="shippingOption" />
            <label :for="index + 'r2'">
              {{option.carrierPartyId == '_NA_' ? '' : (option.carrierName + ' - ')}}
              {{option.shipmentMethodDescription}}
              ${{option.shippingTotal.toFixed(2)}}
            </label>
          </b-card>
        </div>
        <br>
        <button class="btn btn-continue col-4 offset-lg-8">Continue</button>
      </b-collapse>
      <p v-b-toggle.collapse3 class="tittle-check-text">
        <span class="circle">3</span>
        <span class="text-address">Payment Methods</span>
      </p>
      <hr class="hr">
      <b-collapse id="collapse3">
        <div v-for="(item,index) in listPaymentMethods">
          <b-card>
            <input :id="index + 'r3'" type="radio" class="radio-button" :value="item.paymentMethodId" v-model="paymentOption" />
            <label  :for="index + 'r3'">
              {{item.paymentMethod.description}}
              {{item.paymentMethod.titleOnAccount}}
              {{item.creditCard.expireDate}}
            </label>
          </b-card>
        </div>
      </b-collapse>
      <a  v-b-modal.modal2 class="btn btn-link text-primary">Add a Credit Card</a>
      <button class="btn" @click="addCartBillingShipping">Continue</button>
      <button class="btn" @click="setCartPlace">Place Order</button>
    </div>
  </div>
  <div>
    <b-modal ref="modal2" id="modal2" title="Add a Credit Card" hide-footer>
      <b-form>
        <div class="form-group row">
          <label for="card" class="col-sm-3 col-form-label">Card Number *</label>
          <div class="col-sm-9">
            <b-form-input id="card"
                      type="text"
                      v-model="paymentMethod.cardNumber"
                      placeholder="13 to 16 digits Spaces are optional" required>
            </b-form-input> 
          </div>
        </div>
        <div class="form-group row">
          <label for="nameCard" class="col-sm-3 col-form-label">Name on Card *</label>
          <div class="col-sm-9">
            <b-form-input id="nameCard"
                      type="text"
                      v-model="paymentMethod.titleOnAccount"
                      placeholder="The name printed on the front of the card" required>
            </b-form-input> 
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Expiry Date *</label>
          <div class="form-group col-sm-4">
            <select v-model="paymentMethod.expireMonth" class="form-control">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="form-group col-sm-5">
            <select v-model="paymentMethod.expireYear" class="form-control">
              <option value="" selected disabled>Year</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="security" class="col-sm-3 col-form-label">Card Security Code*</label>
          <div class="col-sm-9">
            <b-form-input id="security"
                      type="text"
                      v-model="paymentMethod.validateSecurityCode"
                      placeholder="3 or 4 Digits" required>
            </b-form-input> 
          </div>
        </div>
        <b-button @click="addCustomerPaymentMethod" variant="primary">Add Credit Card</b-button>
        <br>
        <a @click="hideModal('modal2')" class="btn btn-link">Or Cancel</a>
      </b-form>
    </b-modal>
    <b-modal ref="modal1" id="modal1" title="Add an Address" hide-footer>
      <b-form>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Name *</label>
          <div class="col-sm-9">
            <b-form-input id="name"
                      type="text"
                      v-model="shippingAddress.askForName"
                      required>
            </b-form-input> 
          </div>
        </div>
        <div class="form-group row">
          <label for="country" class="col-sm-3 col-form-label">Country *</label>
          <div class="col-sm-9">
            <select v-model="shippingAddress.countryGeoId" class="form-control">
              <option value="USA">United States</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="city" class="col-sm-3 col-form-label">City *</label>
          <div class="col-sm-9">
            <b-form-input id="city"
                      type="text"
                      v-model="shippingAddress.city"
                      required>
            </b-form-input>
          </div>
        </div>
        <div class="form-group row">
          <label for="adress1" class="col-sm-3 col-form-label">Address *</label>
          <div class="col-sm-9">
            <b-form-input id="adress1"
                      type="text"
                      v-model="shippingAddress.address1"
                      required>
            </b-form-input>
          </div>
        </div>
        <div class="form-group row">
          <label for="adress2" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9">
            <b-form-input id="adress2"
                      type="text"
                      v-model="shippingAddress.address2"
                      required>
            </b-form-input>
          </div>
        </div>
        <div class="form-group row">
          <label for="state" class="col-sm-3 col-form-label">State *</label>
          <div class="col-sm-9">
            <select v-model="shippingAddress.stateProvinceGeoId" class="form-control">
              <option value="USA_AK">Alaska</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="postalcode" class="col-sm-3 col-form-label">Zip Code</label>
          <div class="col-sm-9">
            <b-form-input id="postalcode"
                      type="text"
                      v-model="shippingAddress.postalCode"
                      required>
            </b-form-input>
          </div>
        </div>
        <div class="form-group row">
          <label for="contactnumber" class="col-sm-3 col-form-label">Phone Number</label>
          <div class="col-sm-9">
            <b-form-input id="contactnumber"
                      type="text"
                      v-model="shippingAddress.contactNumber"
                      required>
            </b-form-input>
          </div>
        </div>
        <b-button @click="addCustomerShippingAddress" variant="primary">Add Address</b-button>
        <br>
        <a @click="hideModal('modal1')" class="btn btn-link">Or Cancel</a>
      </b-form>
    </b-modal>
  </div>
</div>
  
