<div class="container">
  <br>
  <div class="row">
    <div class="col col-lg-6 col-sm-12 col-12">
      <p class="tittle-cart-item row">
        <span class="col col-lg-6">Item</span>
        <span class="col col-lg-3 offset-lg-1">Quantity</span> 
        <span class="col col-lg-1">Price</span>
      </p>
      <hr class="hr">
      <div class="row" v-for="item in productsInCart.orderItemList" :key="item.productId" v-if="item.itemTypeEnumId=='ItemProduct'">
        <div class="col col-lg-6">
          <p class="item-text-desc">{{item.itemDescription}}</p>
        </div>
        <div class="col col-lg-2 offset-lg-1">
          <b-form-input class="input-quantity" id="quantity" type="text" v-model="item.quantity">
          </b-form-input>
        </div>
        <div class="col col-lg-1 offset-lg-1">
          <p class="place-order-total">${{item.unitAmount}}</p>
        </div>
      </div>
      <hr>
      <div class="row div-total">
        <span class="col col-lg-6">Subtotal</span>
        <span class="col col-lg-1 offset-lg-4">${{productsInCart.paymentsTotal}}</span>
        <span class="col col-lg-6 mt-4">Shipping</span>
        <span class="place-order-total col col-lg-1 offset-lg-4 mt-4">$0.00</span>
        <span class="col col-lg-6 mt-4">Total</span>
        <span class="place-order-total col col-lg-1 offset-lg-4 mt-4">${{productsInCart.paymentsTotal}}</span>
      </div>
    </div>
    <div class="col col-lg-5 offset-lg-1 col-sm-12 col-12">
      <p class="tittle-check-text" v-bind:class="{ 'state': stateShippingAddress == 1, 'state1': stateShippingAddress == 2}">
        <span v-if="stateShippingAddress == 2" class="circle">
          <i class="fa fa-check"></i>
        </span>
        <span v-if="stateShippingAddress != 2" class="circle">1</span>
        <span class="text-address">Shipping Address</span>
        <span v-b-toggle.collapse1 v-if="stateShippingAddress == 2" class="text-address change-info float-right">Change</span>
      </p>
      <hr class="hr" v-bind:class="{ 'hr1': stateShippingAddress == 1, 'hr2':stateShippingAddress == 2 }">
      <div v-if="stateShippingAddress == 2" class="div-total">
        <span class="span-description">{{shippingAddress.toName}}</span>
        <span class="span-description">{{shippingAddress.address1}} {{shippingAddress.address2}}</span>
        <span class="span-description">{{shippingAddress.city}}</span>
        <span class="span-description">
          <i class="fa fa-phone"></i>
          {{shippingAddress.contactNumber}}
        </span>
      </div>
      <b-collapse visible id="collapse1">
        <div v-for="(option, index) in listShippingAddress">
          <div v-bind:class="{ 'div-checkmark': addressOption == option.postalContactMechId + ':' +
                option.telecomContactMechId }">
            <label :for="index + 'r1'" class="container-input">
              <input :id="index + 'r1'" type="radio" :value="option.postalContactMechId + ':' +
                option.telecomContactMechId" v-model="addressOption" @click="changeShippingAddress(option)"/>
              <span class="checkmark"></span>
              <span class="span-description">{{option.postalAddress.toName}}</span>
              <span class="span-description">{{option.postalAddress.address1}} {{option.postalAddress.address2}}</span>
              <span class="span-description">{{option.postalAddress.city}}</span>
              <span class="span-description">
                <i class="fa fa-phone"></i>
                {{option.telecomNumber.contactNumber}}
              </span>
            </label>
          </div>
        </div>
        <br>   
        <button v-b-toggle.collapse1.collapse2 @click="addCartBillingShipping(1)" class="btn btn-continue float-right">Continue
        </button>
        <a v-b-modal.modal1 class="text-add float-right">Add a New Address</a>
      </b-collapse>
      <br>
      <p class="tittle-check-text"  v-bind:class="{ 'state': stateShippingMethod == 1, 'state1': stateShippingMethod == 2 }">
        <span v-if="stateShippingMethod == 2" class="circle">
          <i class="fa fa-check"></i>
        </span>
        <span v-if="stateShippingMethod != 2" class="circle">2</span>
        <span class="text-address">Shipping Method</span>
        <span v-b-toggle.collapse2 v-if="stateShippingMethod == 2" class="text-address change-info float-right">Change</span>
      </p>
      <hr class="hr" v-bind:class="{ 'hr1': stateShippingMethod == 1, 'hr2':stateShippingMethod == 2 }">
      <div v-if="stateShippingMethod == 2" class="div-total">
        <span class="span-description">
          {{shippingMethod.shipmentMethodDescription}}
          <span class="float-right">${{shippingMethod.shippingTotal.toFixed(2)}}</span>
        </span>    
      </div>
      <b-collapse id="collapse2">
        <div v-for="(option, index) in listShippingOptions">
          <div v-bind:class="{ 'div-checkmark': shippingOption == option.carrierPartyId + ':' + option.shipmentMethodEnumId }">
            <label :for="index + 'r2'" class="container-input">
              <input :id="index + 'r2'" type="radio" :value="option.carrierPartyId + ':' + option.shipmentMethodEnumId" v-model="shippingOption" @click="shippingMethod = option" />
              <span class="checkmark"></span>
              {{option.carrierPartyId == '_NA_' ? '' : (option.carrierName + ' - ')}}
              {{option.shipmentMethodDescription}}
              <span class="float-right">${{option.shippingTotal.toFixed(2)}}</span>
            </label>
          </div>
        </div>
        <br>
        <button v-b-toggle.collapse2.collapse3 @click="addCartBillingShipping(2)" class="btn btn-continue float-right">Continue</button>
      </b-collapse>
      <br>
      <p class="tittle-check-text" v-bind:class="{ 'state': statePaymentMethod == 1, 'state1': statePaymentMethod == 2 }">
        <span v-if="statePaymentMethod == 2" class="circle">
          <i class="fa fa-check"></i>
        </span>
        <span v-if="statePaymentMethod != 2" class="circle">3</span>
        <span class="text-address">Payment Methods</span>
        <span v-b-toggle.collapse3 v-if="statePaymentMethod == 2" class="text-address change-info float-right">Change</span>
      </p>
      <hr class="hr" v-bind:class="{ 'hr1': statePaymentMethod == 1, 'hr2':statePaymentMethod == 2 }">
      <div v-if="statePaymentMethod == 2" class="div-total">
        <span class="span-description">{{paymentMethod.description}}</span>
        <span class="span-description">{{paymentMethod.titleOnAccount}}</span>
        <span class="span-description">{{paymentMethod.expireMonth}}/{{paymentMethod.expireYear}}</span>
      </div>
      <b-collapse id="collapse3">
        <div v-for="(item,index) in listPaymentMethods">
          <div v-bind:class="{ 'div-checkmark': paymentOption == item.paymentMethodId }">
            <label  :for="index + 'r3'" class="container-input">
              <input :id="index + 'r3'" type="radio" :value="item.paymentMethodId" v-model="paymentOption" @click="changePaymentMethod(item)"/>
              <span class="checkmark"></span>
              <span class="span-description">{{item.paymentMethod.description}}</span>
              <span class="span-description">{{item.paymentMethod.titleOnAccount}}</span>
              <span class="span-description">Expires on {{item.creditCard.expireDate}}</span>
            </label>
          </div>
        </div>
        <br>
        <a  v-b-modal.modal2 class="text-add col-4 offset-lg-3">Add a Credit Card</a>
        <button v-b-toggle.collapse3.collapse4  class="btn btn-continue" @click="addCartBillingShipping(3)">Continue</button>
      </b-collapse>
      <br>
      <p class="tittle-check-text">
        <span class="circle">4</span>
        <span class="text-address">Complete Purchase</span>
      </p>
      <hr class="hr">
      <b-collapse id="collapse4">
        <div class="div-place-order">
          <p class="text-center">YOUR TOTAL IS: <span class="place-order-total">${{productsInCart.paymentsTotal}}</span></p>
          <p class="text-center place-order-text">Place order below to complete your purchase</p>
        </div>
        <button class="btn btn-place-order col col-lg-12" @click="setCartPlace">Place Order</button>
      </b-collapse>
    </div>
  </div>
  <div>
    <b-modal ref="modal2" id="modal2" title="Add a Credit Card" hide-footer>
      <b-form>
        <div class="form-group row">
          <label for="card" class="col-sm-3 col-form-label modal-text">Card Number <span class="modal-text-required">*</span></label>
          <div class="col-sm-9">
            <b-form-input id="card"
                      type="text"
                      v-model="paymentMethod.cardNumber"
                      placeholder="13 to 16 digits Spaces are optional" required>
            </b-form-input> 
          </div>
        </div>
        <div class="form-group row">
          <label for="nameCard" class="col-sm-3 col-form-label">Name on Card *</label>
          <div class="col-sm-9">
            <b-form-input id="nameCard"
                      type="text"
                      v-model="paymentMethod.titleOnAccount"
                      placeholder="The name printed on the front of the card" required>
            </b-form-input> 
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Expiry Date *</label>
          <div class="form-group col-sm-4">
            <select v-model="paymentMethod.expireMonth" class="form-control">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="form-group col-sm-5">
            <select v-model="paymentMethod.expireYear" class="form-control">
              <option value="" selected disabled>Year</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="security" class="col-sm-3 col-form-label">Card Security Code*</label>
          <div class="col-sm-9">
            <b-form-input id="security"
                      type="text"
                      v-model="paymentMethod.validateSecurityCode"
                      placeholder="3 or 4 Digits" required>
            </b-form-input> 
          </div>
        </div>
        <div class="row justify-content-center">
          <button @click="addCustomerPaymentMethod" class="btn btn-continue col col-sm-6 offset-sm-1">Add Credit Card</button>
          <a @click="hideModal('modal2')" class="btn btn-link text-add col col-sm-9 offset-sm-1">Or Cancel</a>
        </div>
      </b-form>
    </b-modal>
    <b-modal ref="modal1" id="modal1" title="Add an Address" hide-footer>
      <b-form>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label modal-text">Name <span class="modal-text-required">*</span></label>
          <div class="col-sm-9">
            <b-form-input id="name"
                      type="text"
                      v-model="shippingAddress.toName"
                      required>
            </b-form-input> 
          </div>
        </div>
        <div class="form-group row">
          <label for="country" class="col-sm-3 col-form-label modal-text">Country <span class="modal-text-required">*</span></label>
          <div class="col-sm-9">
            <select v-model="shippingAddress.countryGeoId" class="form-control">
              <option value="USA">United States</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="city" class="col-sm-3 col-form-label modal-text">City <span class="modal-text-required">*</span></label>
          <div class="col-sm-9">
            <b-form-input id="city"
                      type="text"
                      v-model="shippingAddress.city"
                      required>
            </b-form-input>
          </div>
        </div>
        <div class="form-group row">
          <label for="adress1" class="col-sm-3 col-form-label modal-text">Address <span class="modal-text-required">*</span></label>
          <div class="col-sm-9">
            <b-form-input id="adress1"
                      type="text"
                      v-model="shippingAddress.address1"
                      required>
            </b-form-input>
          </div>
        </div>
        <div class="form-group row">
          <label for="adress2" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9">
            <b-form-input id="adress2"
                      type="text"
                      v-model="shippingAddress.address2"
                      required>
            </b-form-input>
          </div>
        </div>
        <div class="form-group row">
          <label for="state" class="col-sm-3 col-form-label modal-text">State <span class="modal-text-required">*</span></label>
          <div class="col-sm-9">
            <select v-model="shippingAddress.stateProvinceGeoId" class="form-control">
              <option value="USA_AK">Alaska</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="postalcode" class="col-sm-3 col-form-label modal-text">Zip Code</label>
          <div class="col-sm-9">
            <b-form-input id="postalcode"
                      type="text"
                      v-model="shippingAddress.postalCode"
                      required>
            </b-form-input>
          </div>
        </div>
        <div class="form-group row">
          <label for="contactnumber" class="col-sm-3 col-form-label modal-text">Phone Number <span class="modal-text-required">*</span></label>
          <div class="col-sm-9">
            <b-form-input id="contactnumber"
                      type="text"
                      v-model="shippingAddress.contactNumber"
                      required>
            </b-form-input>
          </div>
        </div>
        <div class="row justify-content-center">
          <button @click="addCustomerShippingAddress" class="btn btn-continue col col-sm-6 offset-sm-1">Add Address</button>
          <a @click="hideModal('modal1')" class="btn btn-link text-add col col-sm-9 offset-sm-1">Or Cancel</a>
        </div>
      </b-form>
    </b-modal>
  </div>
</div>
  
