<div class="container container-text">
  <br>
  <div class="row">
    <div class="col col-lg-4">
      <img width="100px" height="100px" 
            class="figure-img img-fluid"
            v-if="product.contentList.length" 
            v-for="smallImageInfo in product.contentList" 
            :src="getProductImageSrc(smallImageInfo)"
            :alt="smallImageInfo.description ? smallImageInfo.description : 'Small Image'"> 
    </div>
    <div class="col col-lg-5 product-description">
      <p>
        <span class="product-tittle">
          {{product.productName}}
        </span>
        <br>
        <star-rating class="product-star" :rating="product.rating" />
      </p>
      <div v-html="product.descriptionLong">
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="card cart-div">
        <form>
          <div class="form-group col">
            <div class="cart-form-price">
              <p>
                <span class="price-text">
                  ${{product.price}}
                </span> 
                was
                <span>
                  <del v-if="product.listPrice">
                    ${{product.listPrice}}
                  </del>
                </span>
              </p> 
            </div>
            <hr>
          </div>
          <div class="form-group col">
            <p align="left">Quantity:</p>
            <select v-model="quantity" class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </form>
        <br>
      </div>
      <button @click="addProductCart" class="btn cart-form-btn col"> 
          <i class="fa fa-shopping-cart"></i>
          Add to Cart
        </button>
    </div>
  </div>
</div>