<div class="container">

    <div class="row">
        <div class="login-form col-sm-6">
            <h1 class="text-left">Sign In</h1>
            <div class="form-group row">
                <label for="" class=" col-form-label col-sm-2 text-left">
                    Email
                </label>
                <div class="col-sm-10">
                    <input v-model="username" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group row ">
                <label for="" class="col-form-label col-sm-2 text-left">
                    Password
                </label>
                <div class="col-sm-10">
                    <input v-model="password" type="password" class="form-control">
                </div>
            </div>
            <button class="btn btn-primary offset-sm-2 btn-block col-sm-10" @click="login(username, password)">
                Sign In
            </button>
        </div>
        <div class="new-customer col-sm-6">

        </div>
    </div>
</div>