<div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top order-navbar bg-dark">
        <div class="d-flex flex-column moqui-navbar order-navbar">
            <div class="container d-flex flex-row main-navbar">
                <a class="navbar-brand" href="/store">
                    <img height="65px" class="moqui-logo" src="./assets/moqui-logo.svg" alt="">
                    <span class="font-italic order-navbar-title">POP Shop</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <form class="login-form col-lg-5 col-sm-12" v-on:submit="login" method="post">
                <h1 class="text-left">Sign In</h1>
                <div v-if="loginErrormessage != null && loginErrormessage != ''" class="alert alert-primary" role="alert">
                    {{loginErrormessage}}
                </div>
                <div class="form-group row">
                    <label for="" class=" col-form-label col-lg-3 col-sm-12 text-left">
                        Email
                    </label>
                    <div class="col-lg-9 col-sm-12">
                        <input v-model="user.username" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-form-label col-sm-12 col-lg-3 text-left">
                        Password
                    </label>
                    <div class="col-lg-9 col-sm-12">
                        <input v-model="user.password" type="password" class="form-control" required>
                    </div>
                </div>
                <button class="btn btn-login offset-lg-3 btn-block col-sm-12 col-lg-9" type="submit">
                    Sign In
                </button>
                <router-link :to="'/resetPassword'" tag="a">
                    <span class="login-forgot mt-2 mb-5">Forgot Your Password?</span>
                </router-link>
            </form>
            <div class="col-sm-2 d-none d-lg-block d-xl-block">
                <div class="split mx-auto"></div>
            </div>
            <div class="new-customer col-sm-12 col-lg-5">
                <h1 class="text-left">New Customer</h1>
                <router-link :to="'/account/create'" tag="button" class="btn btn-create-account btn-block col-sm-12 col-lg-10">
                    Create an Account
                </router-link>
                <p class="new-customer-text mt-3">
                    Don't have a POP Commerce Account? Don't worry. It's easy, free and only takes a minute.
                </p>
            </div>
        </div>
    </div>
    <br>
    <footer-page style="margin-top: 15%;" :infoLink="false" />
</div>
