<div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top order-navbar bg-dark">
        <div class="d-flex flex-column moqui-navbar order-navbar">
            <div class="container d-flex flex-row main-navbar">
                <router-link class="navbar-brand" :to="'/'" tag="a">
                    <img height="65px" class="moqui-logo" src="./assets/moqui-logo.svg" alt="">
                    <span class="font-italic order-navbar-title">POP Shop</span>
                </router-link>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="login-form col-sm-5">
                {{loginErrormessage}}
                <h1 class="text-left">Sign In</h1>
                <div class="form-group row">
                    <label for="" class=" col-form-label col-sm-2 text-left">
                        Email
                    </label>
                    <div class="col-sm-10">
                        <input v-model="username" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="" class="col-form-label col-sm-2 text-left">
                        Password
                    </label>
                    <div class="col-sm-10">
                        <input v-model="password" type="password" class="form-control">
                    </div>
                </div>
                <button class="btn btn-login offset-sm-2 btn-block col-sm-10" @click="login()">
                    Sign In
                </button>
                <router-link :to="'/'" tag="a">
                    <span class="login-forgot mt-2">Forgot Your Password?</span>
                </router-link>
            </div>
            <div class="col-sm-2">
                <div class="split mx-auto"></div>
            </div>
            <div class="new-customer col-sm-5">
                <h1 class="text-left">New Customer</h1>
                <button class="btn btn-create-account btn-block col-sm-10">
                    Create an Account
                </button>
                <p class="new-customer-text mt-3">
                    Don't have a POP Commerce Account? Don't worry.<br> It's easy, free and only takes a minute.
                </p>
            </div>
        </div>
    </div>
    <footer-page class="fixed-bottom" :infoLink="false" />
</div>
